<% @page_title = "Edit Event" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="events edit">
  <h2>Edit Event</h2>

  <%= form_for(:event, :url => {:action => 'update', :id => @event.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Event") %>
    </div>

  <% end %>
</div>
