<% @page_title = "New Venue" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="venues new">
  <h2>Create Venue</h2>

  <%= form_for(:venue, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Venue") %>
    </div>

  <% end %>
</div>
