<% @page_title = "New Category" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="categories new">
  <h2>Create Category</h2>

  <%= form_for(:category, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Category") %>
    </div>

  <% end %>
</div>
